.element {
    position: absolute;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.element:hover {
    border: 1px dashed var(--main-text-color);
}

.textElement {
    font-size: 30px;
    text-align: center;
}

.imgElement {
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: contain;
}

.resizeHandle {
    position: absolute;
    right: -6px;
    bottom: -6px;
    height: 12px;
    padding: 0;
    cursor: se-resize;
    fill: var(--main-text-color);
}