*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* #131313 #0A0A0A */
    --main-bg-color: #131313;
    --main-text-color: #dad9d9;
    /* #228B22 #32CD32 #2E8B57 */
    --main-attention-color: #32CD32;
    --brush-color: #000000;
    --selected-element-border-color: #fff;
    --selected-tool: #208220;
}

* {
    /* background-color: var(--main-bg-color); */
    color: var(--main-text-color);
}

body {
    font-size: 24px;
    background-color: var(--main-bg-color);
}

.App {
    width: 100%;
    height: 100vh;
    position: relative;
}