.canvasContainer {
    width: 100%;
    height: 90%;
    overflow: auto;
    border: 1px solid var(--main-attention-color);
    position: relative;
}

.canvasContainer::-webkit-scrollbar {
    width: 0;
}

.canvas {
    display: block;
}

.cursorGrabbing {
    cursor: grabbing;
}